$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

$gray_1: #787878;
$gray_2: #808080;
$hover: #f8f8ff;

$youtube_red: #FF0000;
$twitter_blue: #00acee;