= form_for mylist do |f|
  .mylist-form__errors
    %h2 10件のエラーが発生しました
    %ul
      %li nameを入力してください
  .mylist-form__field
    .mylist-form__field--left
      %label.mylist-form__label{:for => "mylist_vtuberを追加"} vtuberを追加
    .mylist-form__field--right
      .mylist-form__search.clearfix
        %input#mylist-form__input{:placeholder => "追加したいvtuber情報（名前、Twitter、会社名）を入力してください", :type => "text"}/
      #vtuber-search-result

  .mylist-form__field.clearfix
    .mylist-form__field--left
      %label.mylist-form__label{:for => "mylist_vtuber"} vtuber
    .mylist-form__field--right
      #mylist-vtubers.js-add-vtuber

  .mylist-form__field.clearfix
    .mylist-form__field--left
    .mylist-form__field--right
      = f.submit class: 'mylist-form__action-btn'