.menu
  .menu--top
    = icon('fas', 'chevron-circle-left', class: 'menu_icon_left')
  .menu--options
    = link_to edit_user_path(current_user), class: 'user_name' do
      ユーザー情報変更
  .menu--options
    マイリスト作成