.list
  .list--home
    = link_to user_mylist_path(id: :mylist_id) do
      = icon('fas', 'chevron-circle-left', class: 'menu_icon_left')
      ホーム
  .list--vtubers
  - @mylist.vtubers.each do |vtuber|
    = link_to user_mylist_vtuber_path do
      .list--vtubers__name
        = vtuber.name