-# 画面の左側メニューの検索ボタンをクリックした時に表示する画面
.search--form
  .search--form--close
    = icon('fas', 'times', class: 'search--form--close__icon')
  .search--form--input
    %input#search--form--input{:placeholder => "vtuber情報（名前、Twitter、会社名）を入力してください", :type => "text"}
  #search--form--result