// mylist#showにおいての動画ブロック
.video-box {
  height: 226px;
  width: 210px;
  margin-right: 30px;
  &--video {
    cursor: pointer;
  }
  &--name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: black;
    cursor: pointer;
    height: 48px;
  }
  &--channel {
    font-size: 12px;
    color: $gray_1;
  }
  &--status {
    font-size: 12px;
    color: $gray_1;
    display: flex;
  }
}

// 動画All
.video-boxes-all {
  height: calc(100vh - 130px);
  overflow: scroll;
}

.video-days-contents {
  display: flex;
  flex-wrap: wrap;
}
.video-days-title {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: inset 3px;
  border-bottom: inset 3px;
  padding-left: 10px;
  cursor: pointer;
  }

.video-days-icon-up {
  margin-right: 10px;
  display: none;
}

.video-days-icon-down {
  margin-right: 10px;
}

// 動画ライブ中
.video-boxes-onair {
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.onair {
  color: red;
  margin-left: 5px;
  border: solid red 1px;
  padding: 0 2px;
  border-radius: 4px 4px 4px 4px;
}
// 動画公開予定
.video-boxes-planned {
  display: flex;
  flex-wrap: wrap;
  display: none;
}
.planned {
  padding: 0 10px;
  background-color: #dcdcdc;
}

// mylist#show, vtuber#showにおいてのall/onair/planned選択ボタン
.sort {
  display: flex;
  margin-bottom: 20px;
  &--all {
    margin-right: 10px;
    border-bottom: solid #787878 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &--onair {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &--planned {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

