// mylist#index, mylist#show, vtuber#showのbody部分
.detail {
  margin-top: 60px;
  background-color: #f5f5f5;
  width: 100vw;
  min-height: calc(100vh - 100px); 
  height:auto !important; 
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 80px;

  z-index: 1;
  &--box {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 210px;
    height: 226px;
    &__top {
      display: flex;
      position: relative;
      &__image {
        margin-top: 0;
        height: 118px;
        z-index: 2;
      }
      &__right {
        width: calc(210px - 118px);
        height: 118px;
        background-color: #787878;
        color: white;
        text-align: center;
        z-index: 1;
        position: absolute;
        left: 118px;
        top: 0px;
        &__vtuber-info {
          margin-top: 20px;
        }
        &__icon {
          font-size: 1.5em;
        }
      }
    }
    &__bottom {
      &__name {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &__date {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        color: #787878;
      }
    }
  }
}

// mylistやvideoなどのカバー画像
.image {
  height: 118px;
}

// mylistの編集、削除メニュー
.detail--box__top__right-menu {
  width: 92px;
  height: 118px;
  background-color: $gray_1;
  z-index: 3;
  position: absolute;
  left: 118px;
  display: none;
  &--edit {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    color: white;
  }
  &--delete {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
}
.mylist_menu_icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
}

// mylistの削除時の確認
.detail--box__top-confirm {
  width: 210px;
  height: 118px;
  background-color: rgba(95, 83, 83, 0.81);
  z-index: 4;
  position: absolute;
  color: white;
  padding-top: 25px;
  left: -118px;
  top: 0;
  display: none;
  &__text {
    display: flex;
    justify-content: center;
  }
  &__confirm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &__yes {
    margin-right: 40px;
    cursor: pointer;
    color: white;
  }
  &__no {
    cursor: pointer;
  }
}

.mylist-boxes {
  height: calc(100vh - 130px);
  overflow: scroll;
  display: flex;
}
