// ヘッダー用設定
.headbar {
  width: 100vw;
  height: 60px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: inset 3px;
  position: fixed;
  z-index: 2;
  &--right {
    display: flex;
    align-items: center;
  }
  &--menu_icon-right {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--menu_icon-left {
    width: 80px;
    height: 100%;

    align-items: center;
    justify-content: center;
    display:none;
    float:left;
  }
}
.menu_icon {
  font-size: 1.5em;
  color: $gray_1;
}
.user_name {
  text-decoration: none;
  color: $gray_1;
}
.log_out {
  text-decoration: none;
  margin: 0 30px;
  color: white;
  display: flex;
  align-items: center;
  color: $gray_1;
}
.logout-icon {
  font-size: 1.5em;
  margin-left: 10px;
  color: $gray_1;
}

// ヘッダー中心に表示されるmylist名
.mylist--name {
  display: flex;
  color: $gray_1;
  font-size: 1.5em;
  align-items: center;
  &--text {
    margin-left: 5px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
