.headbar {
  width: 100vw;
  height: 100px;
  background-color: #009CDE;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
  &--right {
    display: flex;

  }
}

.menu_icon_right {
  font-size: 2em;
  color: white;
}

.user_name {
  text-decoration: none;
  color: white;
}

.log_out {
  text-decoration: none;
  margin: 0 30px;
  color: white;
}