.headbar {
  width: 100vw;
  height: 60px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
  border-bottom: inset 3px;
  &--right {
    display: flex;
    align-items: center;
  }
}

.menu_icon_right {
  font-size: 1.5em;
  color: #787878;
}

.user_name {
  text-decoration: none;
  color: #787878;
}

.log_out {
  text-decoration: none;
  margin: 0 30px;
  color: white;
  display: flex;
  align-items: center;
  color: #787878;
}

.logout-icon {
  font-size: 1.5em;
  margin-left: 10px;
  color: #787878;
}