.body {
  display: flex;
}

.leftbar {
  height: calc(100% - 60px);
  background-color: white;
  width: 80px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
  position: fixed;
  top: 60px;
}

.leftbar--section {
  padding: 10px 0;
  cursor: pointer;
  &--icon {
    font-size: 1.1em;
    text-decoration: none;
    color: #787878;
  }
  &--text {
    font-size: 12px;
    text-decoration: none;
    color: #787878;
  }
}

.leftbar-detail {
  width: 250px;
  height: calc(100vh - 60px);
  display:none;
  float:left;
  white-space: nowrap;
  overflow: scroll;
  z-index: 3;
  position: fixed;
  top: 60px;
  background-color: white;
  &--section {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #808080;
    cursor: pointer;
  }
  &--text {
    color: #808080;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.leftbar--menu--icon {
  margin-right: 20px;
  color: #808080;
  font-size: 1.3em;
}

.links {
  display: flex;
  align-items: center;
}

.links-mylist {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
}