.wrapper {
  position: relative;
}

.menu {
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #41607D;
  &--top {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #41607D;
    text-align: center;
  }
  &--options {
    color: white;
    height: 60px;
    border: outset 3px #DFE6F0;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
}
