// vtuber#show用設定
.vtuber--name {
  display: flex;
  color: $gray_1;
  font-size: 1.5em;
  align-items: center;
  &--text {
    margin-left: 5px;
  }
}
.channel-banner {
  width: 100%;
}
.channel-icon {
  height: 80px;
  border-radius: 40px;
  margin-left: 50px;
  margin-right: 10px;
}
.sort-channel {
  background-color: white;
  height: 120px;
  overflow-x: scroll;
  scrollbar-width: thin;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  &--name {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
  }
  &--channel {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: $youtube_red;
    margin-right: 10px;
  }
  &--twitter {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: $twitter_blue;
    margin-right: 10px;
  }
  &--all {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-bottom: solid $gray_1 3px;
    cursor: pointer;
  }
  &--onair {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }
  &--planned {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.contents {
  display: flex;
}

.video-boxes-all {
  width: calc(100% - 200px);
}

.video-boxes-onair {
  width: calc(100% - 200px);
}

.video-boxes-planned {
  width: calc(100% - 200px);
}

.novideo-notice {
  margin-top: 20px;
}

// vtuberをmylistに追加する画面設定
.add-to-mylist {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  cursor: pointer;
}

.add-to {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0.7);
  &--form {
    background-color: white;
    width: 260px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-145px;
    margin-top:-130px;
    &__header {
      width: 100%;
      height: 53px;
      border-bottom: solid 1px #dcdcdc;
      display: flex;
      align-items: center;
      &__text {
        padding: 16px 24px;
        width: 216px;
      }
      &__icon {
        cursor: pointer;
      }
    }
    &__content {
    max-height: 300px;
    max-width: 600px;
    overflow: auto;
    padding: 16px 24px;
    border-bottom: solid 1px #dcdcdc;
    }
    &__footer {
      width: 100%;
      height: 48px;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 4px 24px;
      &__icon {
        margin-right: 16px;
      }
    }
  }
}

.edit_vtuber label {
  display: flex;
  align-items: center;
  
  cursor: pointer;
  min-height:40px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-before {
  width: 22px;
  height: 22px;
  border: 2px solid $gray_1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.mylist-tag {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.icon-after {
  margin-left: 20px;
}

.checked__icon {
  width: 20px;
  height: 20px;
  background-color: #4169e1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

input[type="checkbox"]:checked + .checked__icon {
  width: 20px;
  height: 20px;
  background-color: #4169e1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check__mylist__icon {
  right: -130px;
  display: flex;
  align-items: center;
  color: $gray_1;
}

input[type="checkbox"] {
  display: none;
}

.add-to--form__newmylist {
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  display: none;
  &__text {
    font-size: 13px;
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: solid 1px black;
  }
  &__submit {
    height: 60px;
    display: flex;
    align-items: center;
    border: none;
    
  }
  &__btn {
    cursor: pointer;
    border: none;
    margin-left: auto;
  }
}

input[type="text"]:focus {
  outline: 0;
}

