// noticification設定
.notification {
  display: flex;
  z-index: 5;
  position: fixed;
  bottom: 10%;
  left: 5%;
  animation: fadeOut 5s linear forwards;
  .notice {
    background-color: #787878;
    color: $white;
    height: 50px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alert {
    background-color: #787878;
    color: $white;
    height: 50px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// noticificationのフェードアウト設定
@keyframes fadeOut {
  0%  { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-30px);}
  100% { opacity: 0; }
}